header {
    color: whitesmoke;
    background-color: rgb(31, 48, 60);
    height: 100px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.logoImage {
    padding: 20px;
}

@media (max-width: 768px) {
    header {
        height: 50px;
    }

}

@media (max-height: 600px) {
    header {
        height: 30px;
    }
}